body {
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    color: $dark;
    font-size: 1.15rem;
    letter-spacing: 0.025rem;
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-family: $font-family-header;
    font-weight: bold;
}

h1 {
    color: $blue;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

h2 {
    color: $blue;
    font-size: 3rem;
    margin-bottom: 2rem;
}

h3 {
    color: $blue;
    font-size: 2rem;
    margin-bottom: 1rem;
}