.block-views {
    padding: 0;

    @include breakpoint($breakpoint-medium) {
        padding: 0 $spacing;
    }

    @include breakpoint($breakpoint-large) {
        padding: 0 $spacing-double;
    }
}

%embossed {
    background: $satin;
    box-shadow: 0 0 10px inset rgba($black, 0.4);
    padding: $spacing;

    @include breakpoint($breakpoint-medium) {
        padding: $spacing $spacing-double $spacing-double;
    }

    h1,
    h2 {
        text-align: center;
    }

    .node {
        @extend %box-shadow;
        margin-bottom: $spacing;
    }
}