.block-system-branding-block {
    font-size: 2.5rem;
    color: $white;
    font-family: $font-family-header;
    text-align: center;
    flex-grow: 1;

    a {
        color: $white;
        text-shadow: 0 0 5px darken($green, 20%);
        font-weight: bold;

        @include breakpoint($breakpoint-medium) {
            padding-left: $spacing * 4;
        }

        &:hover {
            border: none;
        }
    }
}