.flag-bookmarks {
    margin-left: 0 !important;

    a {
        @extend %field-as-tag;
        @extend %tag-list;

        color: $dark;
        transition: all 0.3333s ease-in-out;
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 0;

        &:hover {
            color: $white;
            background: $blue;
            border: 1px solid $blue;
        }

        svg {
            margin-left: $spacing-half;
        }
    }

    &.action-unflag {
        a {
            color: $blue;
            border-color: $blue;

            &:hover {
                color: $white;
            }
        }
    }
}

.teaser-footer .flag-bookmarks a {
    position: absolute;
    z-index: 99;
    right: 1rem;
    margin-right: 0;
    bottom: $spacing;
}