.search-results-wrapper {
    @extend %embossed;

    .search-results {
        max-width: $breakpoint-max;
        margin: 0 auto;

        .node {
            margin-bottom: $spacing;
        }

        @include breakpoint($breakpoint-medium) {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: $spacing;

            h2 {
                width: 100%;
            }

            >.node {
                width: calc(50% - 1rem);
                margin: 0 $spacing-half $spacing;
            }
        }

        @include breakpoint($breakpoint-large) {
            >.node {
                width: calc(33.333% - 1rem);
            }
        }

        @include breakpoint($breakpoint-large) {
            >.node {
                width: calc(25% - 1rem);
            }
        }
    }
}