.page-content .search-api-page-block-form {
    max-width: $breakpoint-medium;
    margin: 0 auto $spacing-double;
    padding: 0 $spacing;

    display: flex;

    @include breakpoint($breakpoint-medium) {
        padding: 0 $spacing-double;
    }

    .form-actions {
        margin-bottom: 0;

        input {
            margin: 0;
            border-radius: 0 2px 2px 0;
        }
    }

    .form-item {
        margin-bottom: 0;
        flex-grow: 1;
    }

    input.form-search {
        margin: 0;
        flex-grow: 1;
    }
}

.search-help {
    max-width: $breakpoint-medium;
    padding: 0 $spacing;
    margin: 0 auto;

    @include breakpoint($breakpoint-medium) {
        padding: 0 $spacing-double;
    }
}