.block-search-api-page-form-block {
    .search-bar-button {
        padding: $spacing;
        height: 4rem;
        width: 4rem;
        font-size: 1.5rem;
        text-align: center;
        background-color: lighten($green, 10%);
        transition: all 0.333s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: darken($green, 20%);
        }
    }

    .search-bar {
        padding: $spacing-half;
        width: 100%;
        background: lighten($green, 20%);
        position: absolute;
        top: 4rem;
        left: 0;

        form {
            display: flex;
            max-width: $breakpoint-max;
            margin: 0 auto;

            .form-actions {
                margin-bottom: 0;

                input {
                    margin: 0;
                    border-radius: 0 2px 2px 0;
                    border: 1px solid $green;
                }
            }

            .form-item {
                margin-bottom: 0;
                flex-grow: 1;
            }

            input.form-search {
                margin: 0;
                flex-grow: 1;
                color: $dark;
            }
        }
    }
}

.search-bar {
    display: none;
}

body.search-bar-open .search-bar-button {
    background: lighten($green, 20%);
}

body.search-bar-open .search-bar {
    display: block;
}