.node--type-recipe.node--view-mode-full {
    .node-content {
        max-width: $breakpoint-large;
        padding: $spacing;
        background: $white;
        position: relative;

        @include breakpoint($breakpoint-medium) {
            margin: (-$spacing * 4) auto 0;
            padding: $spacing-double;
        }

        h1 {
            text-align: center;
        }
    }
}