.node--type-recipe.node--view-mode-teaser {
    background: $white;
    position: relative;
    padding: $spacing;
    display: flex;
    flex-direction: column;

    &:hover .field--name-field-image img {
        transform: scale(1.1);
    }

    .teaser-header {
        margin: -($spacing) -1rem 0;
        padding-top: 66%;
        border-bottom: 0.25rem solid $blue;
        position: relative;
        overflow: hidden;

        .field--name-field-image {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;

            img {
                max-width: 100%;
                transition: all 0.5s ease-in-out;
            }
        }
    }

    .teaser-content {
        padding: $spacing 0;
    }
}