.node--type-video.node--view-mode-highlighted {
    @extend %box-shadow;

    background: $white;
    position: relative;

    .highlighted-header {
        overflow: hidden;
        border-bottom: 0.25rem solid $purple;
    }

    .highlighted-content {
        padding: $spacing;

        h3 {
            color: $purple;
        }
    }

    .field--name-field-video.field-video-with-icon {
        position: relative;
    }
}

.view-highlighted-videos:not(.view-display-id-block_first)>.view-content {
    // Here is the stuff we do to the other blocks

    @include breakpoint($breakpoint-medium) {
        .highlighted-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 9999;
            pointer-events: none;

            .field--name-field-teaser {
                display: none;
            }

            h3 {
                margin-bottom: 0;
                color: #fff;
                text-shadow: 0 0 2px rgba($black, 0.8);
            }


        }

        svg {
            display: none;
        }

        .video-shim {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba($black, 0.8) 0%, rgba($black, 0) 50%);
        }

        .field--name-node-link a:hover {
            background: $purple;
        }
    }
}