.node--type-carousel-slide.node--view-mode-carousel {
    height: calc(100vh - 4rem);
    position: relative;

    @include breakpoint($breakpoint-medium) {
        height: calc(75vh - 4rem);
    }

    .field-group-background-image {
        padding: 0 $spacing $spacing * 6;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-size: cover;
        display: flex;
        flex-direction: column;

        &::after {
            content: ' ';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(rgba($black, 0) 50%, black 100%);
        }

        @include breakpoint($breakpoint-medium) {
            padding: $spacing * 6 $spacing-double;
        }
    }

    .carousel-content {
        margin: auto auto 0 auto;
        max-width: $breakpoint-max;
        width: 100%;
        z-index: 2;
    }

    .field--name-node-title {
        margin-top: auto;
        z-index: 2;
    }

    .field--name-field-link a {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        text-indent: -9999px;
        z-index: 3;
    }

    .field--name-field-teaser {
        color: $white;
        text-shadow: 0 0 2px rgba($black, 0.6);
        z-index: 2;
        font-size: 1.25rem;
        font-weight: 400;
    }

    h1 {
        color: $white;
        text-shadow: 0 0 2px rgba($black, 0.3);
        margin-bottom: 0;
    }
}

body.adminimal-admin-toolbar {
    .node--type-carousel-slide.node--view-mode-carousel {
        height: calc(100vh - 4rem - 40px);

        @include breakpoint($breakpoint-medium) {
            height: calc(75vh - 4rem - 40px);
        }
    }
}