.node--type-recipe.node--view-mode-highlighted {
    .highlighted-wrapper {
        padding-top: 50%;
        background-size: cover;

        @include breakpoint($breakpoint-medium) {
            position: relative;
            padding-top: 0;

            .highlighted-content-wrapper {
                max-width: $breakpoint-max;
                margin: auto;
                padding: 20% $spacing $spacing * 2;
            }
        }

        @include breakpoint($breakpoint-large) {
            padding: 10% $spacing-double $spacing * 3;
        }

        .highlighted-content {
            background: $white;
            padding: $spacing;
            text-align: left;
            position: relative;
            transition: all 0.333s ease-in-out;

            @include breakpoint($breakpoint-medium) {
                max-width: 50%;
                left: 50%;
                box-shadow: 0 0 20px rgba($black, 0.4);
                border-radius: 2px;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 30px rgba($black, 0.6);
                }
            }

            h2 {
                text-align: left;
                margin-bottom: 1rem;
            }
        }
    }
}