.node--type-video.node--view-mode-teaser {
    background: $white;
    position: relative;
    padding: $spacing;
    display: flex;
    flex-direction: column;

    .teaser-header {
        margin: -($spacing) -1rem 0;
        padding-top: 66%;
        border-bottom: 0.25rem solid $purple;
        position: relative;
        overflow: hidden;
    }

    .teaser-content {
        padding: $spacing 0;

        h3 {
            color: $purple;
        }

        .field--name-node-post-date {
            color: $purple;
        }
    }
}