{% for item in items %}
    <div class="field field-video-with-icon field--name-field-video field--type-ds">{{ item.content }} <div class="video-shim"></div><i class="fas fa-play"></i></div>
{% endfor %}