/* line 1, ../scss/base/_reboot.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 7, ../scss/base/_reboot.scss */
html {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

/* line 18, ../scss/base/_reboot.scss */
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* line 32, ../scss/base/_reboot.scss */
body {
  margin: 0;
  text-align: left;
  background: #fff;
  font-size: 1.15rem;
}

/* line 39, ../scss/base/_reboot.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.125rem;
  line-height: 1.2;
}

/* line 50, ../scss/base/_reboot.scss */
h1 {
  font-size: 2.5rem;
}

/* line 54, ../scss/base/_reboot.scss */
h2 {
  font-size: 2rem;
}

/* line 58, ../scss/base/_reboot.scss */
h3 {
  font-size: 1.75rem;
}

/* line 62, ../scss/base/_reboot.scss */
h4 {
  font-size: 1.5rem;
}

/* line 66, ../scss/base/_reboot.scss */
h5 {
  font-size: 1.33rem;
}

/* line 70, ../scss/base/_reboot.scss */
p {
  margin: 0;
}

/* line 74, ../scss/base/_reboot.scss */
p + p {
  margin: 1.125rem 0 0 0;
}

/* line 78, ../scss/base/_reboot.scss */
ol,
ul {
  margin: 0 0 1.125rem 0;
}

/* line 83, ../scss/base/_reboot.scss */
ol ol,
ul ul {
  margin-bottom: 0;
}

/* line 88, ../scss/base/_reboot.scss */
P + ul {
  margin-top: 1.125rem;
  font-style: italic;
}

/* line 93, ../scss/base/_reboot.scss */
p + ol {
  margin-top: 1.125rem;
  font-style: italic;
}

/* line 98, ../scss/base/_reboot.scss */
strong {
  font-weight: 600;
}

/* line 102, ../scss/base/_reboot.scss */
a {
  text-decoration: none;
  color: #03f;
  border-bottom: 1px solid transparent;
  transition: all 0.3333s ease-in-out;
}
/* line 108, ../scss/base/_reboot.scss */
a:hover {
  text-decoration: none;
  border-bottom: 1px solid #03f;
}

/* line 114, ../scss/base/_reboot.scss */
img {
  display: block;
  margin: 0;
  border: 0;
  max-width: 100%;
  height: auto;
}

/* line 1, ../scss/base/_typography.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #202020;
  font-size: 1.15rem;
  letter-spacing: 0.025rem;
  line-height: 1.6;
}

/* line 10, ../scss/base/_typography.scss */
h1,
h2,
h3 {
  font-family: "Amatic SC", serif;
  font-weight: bold;
}

/* line 17, ../scss/base/_typography.scss */
h1 {
  color: #11a5b7;
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

/* line 23, ../scss/base/_typography.scss */
h2 {
  color: #11a5b7;
  font-size: 3rem;
  margin-bottom: 2rem;
}

/* line 29, ../scss/base/_typography.scss */
h3 {
  color: #11a5b7;
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* line 1, ../scss/structure/_layout.scss */
.page-header {
  position: sticky;
  width: 100%;
  z-index: 2;
  background-color: #81c185;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

/* line 9, ../scss/structure/_layout.scss */
.path-user .page-content {
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
}
/* line 14, ../scss/structure/_layout.scss */
.path-user .page-content h1 {
  text-align: center;
}

/* line 19, ../scss/structure/_layout.scss */
.path-videos .page-content,
.path-popular-recipes .page-content,
.path-taxonomy .page-content {
  padding: 1rem 0;
}
@media (min-width: 768px) {
  /* line 19, ../scss/structure/_layout.scss */
  .path-videos .page-content,
  .path-popular-recipes .page-content,
  .path-taxonomy .page-content {
    padding: 1rem;
  }
}
@media (min-width: 1024px) {
  /* line 19, ../scss/structure/_layout.scss */
  .path-videos .page-content,
  .path-popular-recipes .page-content,
  .path-taxonomy .page-content {
    padding: 1rem 2rem;
  }
}
/* line 32, ../scss/structure/_layout.scss */
.path-videos .page-content h1,
.path-popular-recipes .page-content h1,
.path-taxonomy .page-content h1 {
  text-align: center;
}

/* line 40, ../scss/structure/_layout.scss */
.path-bookmarks .page-content h1 {
  text-align: center;
}

/* line 45, ../scss/structure/_layout.scss */
.path-search .page-content {
  padding: 1rem 0 0;
}
/* line 48, ../scss/structure/_layout.scss */
.path-search .page-content h1 {
  text-align: center;
}

/* line 53, ../scss/structure/_layout.scss */
.page-footer {
  width: 100%;
  background: #81c185;
}

/* line 1, ../scss/structure/_header.scss */
.region-header {
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  z-index: 1;
  margin: 0 auto;
  max-width: 1280px;
}
/* line 11, ../scss/structure/_header.scss */
.region-header .block-menu.menu--account {
  margin-left: auto;
}

/* line 2, ../scss/structure/_footer.scss */
.page-footer .container {
  max-width: 1280px;
  padding: 1rem;
  margin: 0 auto;
  color: white;
}
@media (min-width: 768px) {
  /* line 2, ../scss/structure/_footer.scss */
  .page-footer .container {
    padding: 2rem;
  }
}
/* line 12, ../scss/structure/_footer.scss */
.page-footer .container h2 {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  color: white;
}
/* line 18, ../scss/structure/_footer.scss */
.page-footer .container .block {
  margin-bottom: 1.125rem;
}
@media (min-width: 768px) {
  /* line 22, ../scss/structure/_footer.scss */
  .page-footer .container .region-footer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
  }
  /* line 28, ../scss/structure/_footer.scss */
  .page-footer .container .region-footer .block {
    padding: 0 0.5rem;
    width: 50%;
  }
  /* line 32, ../scss/structure/_footer.scss */
  .page-footer .container .region-footer .block:first-child {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  /* line 39, ../scss/structure/_footer.scss */
  .page-footer .container .region-footer .block {
    width: 25%;
  }
  /* line 42, ../scss/structure/_footer.scss */
  .page-footer .container .region-footer .block:first-child {
    width: 50%;
  }
}
/* line 50, ../scss/structure/_footer.scss */
.page-footer .disclaimer {
  background-color: #49934d;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem 1rem;
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
}
@media (min-width: 768px) {
  /* line 50, ../scss/structure/_footer.scss */
  .page-footer .disclaimer {
    padding: 1rem 2rem;
  }
}
/* line 62, ../scss/structure/_footer.scss */
.page-footer .disclaimer a {
  color: white;
}
/* line 65, ../scss/structure/_footer.scss */
.page-footer .disclaimer a:hover {
  border-bottom-color: white;
}

/* line 1, ../scss/navigation/_tabs.scss */
ul.tabs {
  border-bottom: 1px solid #11a5b7;
  margin: 0 0 1.125rem;
  font-family: "Open Sans Condensed", sans-serif;
  color: #11a5b7;
  display: flex;
}
/* line 8, ../scss/navigation/_tabs.scss */
ul.tabs li {
  border-bottom: 4px solid transparent;
  padding: 0;
  margin: 0;
  transition: all 0.333s ease-in-out;
}
/* line 14, ../scss/navigation/_tabs.scss */
ul.tabs li.is-active, ul.tabs li:hover {
  border-bottom: 4px solid #11a5b7;
}
/* line 18, ../scss/navigation/_tabs.scss */
ul.tabs li.is-active a, ul.tabs li:hover a {
  background: none;
}
/* line 23, ../scss/navigation/_tabs.scss */
ul.tabs li a {
  color: #11a5b7;
  border-bottom: none;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

/* line 1, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: relative;
}
/* line 7, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main .main-menu-button {
  padding: 1rem;
  height: 4rem;
  width: 4rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: #a3d2a6;
  transition: all 0.333s ease-in-out;
  cursor: pointer;
}
/* line 17, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main .main-menu-button:hover {
  background-color: #49934d;
}
/* line 22, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main .main-menu {
  position: absolute;
  left: 0;
  top: 4rem;
  width: max-content;
  padding: 1rem;
  color: white;
  background: #11a5b7;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 400;
}
/* line 34, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: white;
}
/* line 40, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 45, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main ul li {
  padding: 0.25rem;
}
/* line 48, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main ul li a {
  color: white;
}
/* line 51, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main ul li a:hover {
  border-bottom-color: white;
}

/* line 59, ../scss/navigation/_menu--main.scss */
.main-menu {
  display: none;
}

/* line 63, ../scss/navigation/_menu--main.scss */
body.main-menu-open .main-menu {
  display: block;
}

/* line 1, ../scss/navigation/_menu--account.scss */
.block-menu.menu--account {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: relative;
}
/* line 7, ../scss/navigation/_menu--account.scss */
.block-menu.menu--account .user-menu-button {
  padding: 1rem;
  height: 4rem;
  width: 4rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: #a3d2a6;
  transition: all 0.333s ease-in-out;
  cursor: pointer;
}
/* line 17, ../scss/navigation/_menu--account.scss */
.block-menu.menu--account .user-menu-button:hover {
  background-color: #49934d;
}
/* line 22, ../scss/navigation/_menu--account.scss */
.block-menu.menu--account .user-menu {
  position: absolute;
  right: 0;
  top: 4rem;
  width: max-content;
  padding: 1rem;
  color: white;
  background: #11a5b7;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 400;
}
/* line 34, ../scss/navigation/_menu--account.scss */
.block-menu.menu--account h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: white;
}
/* line 40, ../scss/navigation/_menu--account.scss */
.block-menu.menu--account ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 45, ../scss/navigation/_menu--account.scss */
.block-menu.menu--account ul li {
  padding: 0.25rem;
}
/* line 48, ../scss/navigation/_menu--account.scss */
.block-menu.menu--account ul li:last-child {
  margin-top: 0.75rem;
  padding-top: 0.5rem;
  border-top: 1px solid white;
}
/* line 54, ../scss/navigation/_menu--account.scss */
.block-menu.menu--account ul li a {
  color: white;
}
/* line 57, ../scss/navigation/_menu--account.scss */
.block-menu.menu--account ul li a:hover {
  border-bottom-color: white;
}

/* line 65, ../scss/navigation/_menu--account.scss */
.user-menu {
  display: none;
}

/* line 69, ../scss/navigation/_menu--account.scss */
body.user-menu-open .user-menu {
  display: block;
}

/* line 2, ../scss/navigation/_menu--footer.scss */
.block-menu.menu--footer h2 {
  color: white;
}
/* line 6, ../scss/navigation/_menu--footer.scss */
.block-menu.menu--footer .menu {
  padding: 0;
  list-style: none;
  margin: 0;
}
/* line 11, ../scss/navigation/_menu--footer.scss */
.block-menu.menu--footer .menu li {
  margin: 0 0 0.5rem;
  padding: 0;
}
/* line 15, ../scss/navigation/_menu--footer.scss */
.block-menu.menu--footer .menu li a {
  color: white;
}
/* line 18, ../scss/navigation/_menu--footer.scss */
.block-menu.menu--footer .menu li a:hover {
  border-bottom-color: white;
}

/* line 2, ../scss/navigation/_menu--follow.scss */
.block-menu.menu--follow h2 {
  color: white;
}
/* line 6, ../scss/navigation/_menu--follow.scss */
.block-menu.menu--follow .menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 12, ../scss/navigation/_menu--follow.scss */
.block-menu.menu--follow .menu li {
  margin: 0 0.5rem 0 0;
}
/* line 15, ../scss/navigation/_menu--follow.scss */
.block-menu.menu--follow .menu li:last-child {
  margin-right: 0;
}
/* line 19, ../scss/navigation/_menu--follow.scss */
.block-menu.menu--follow .menu li a {
  font-size: 1.5rem;
  color: white;
}
/* line 23, ../scss/navigation/_menu--follow.scss */
.block-menu.menu--follow .menu li a:hover {
  color: #c5e3c7;
  border: none;
}

/* line 1, ../scss/navigation/_pager--infinite-scroll.scss */
.js-pager__items.pager {
  margin: 1rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}
/* line 8, ../scss/navigation/_pager--infinite-scroll.scss */
.js-pager__items.pager .pager-item {
  padding: 0;
}

/* line 1, ../scss/blocks/_block.scss */
.block-views {
  padding: 0;
}
@media (min-width: 768px) {
  /* line 1, ../scss/blocks/_block.scss */
  .block-views {
    padding: 0 1rem;
  }
}
@media (min-width: 1024px) {
  /* line 1, ../scss/blocks/_block.scss */
  .block-views {
    padding: 0 2rem;
  }
}

/* line 13, ../scss/blocks/_block.scss */
.path-bookmarks .page-content, .block-views-blockhighlighted-videos-block, .search-results-wrapper {
  background: #f0f0f0;
  box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.4);
  padding: 1rem;
}
@media (min-width: 768px) {
  /* line 13, ../scss/blocks/_block.scss */
  .path-bookmarks .page-content, .block-views-blockhighlighted-videos-block, .search-results-wrapper {
    padding: 1rem 2rem 2rem;
  }
}
/* line 22, ../scss/blocks/_block.scss */
.path-bookmarks .page-content h1, .block-views-blockhighlighted-videos-block h1, .search-results-wrapper h1,
.path-bookmarks .page-content h2,
.block-views-blockhighlighted-videos-block h2,
.search-results-wrapper h2 {
  text-align: center;
}
/* line 27, ../scss/blocks/_block.scss */
.path-bookmarks .page-content .node, .block-views-blockhighlighted-videos-block .node, .search-results-wrapper .node {
  margin-bottom: 1rem;
}

/* line 1, ../scss/blocks/_block--system-branding.scss */
.block-system-branding-block {
  font-size: 2.5rem;
  color: white;
  font-family: "Amatic SC", serif;
  text-align: center;
  flex-grow: 1;
}
/* line 8, ../scss/blocks/_block--system-branding.scss */
.block-system-branding-block a {
  color: white;
  text-shadow: 0 0 5px #49934d;
  font-weight: bold;
}
@media (min-width: 768px) {
  /* line 8, ../scss/blocks/_block--system-branding.scss */
  .block-system-branding-block a {
    padding-left: 4rem;
  }
}
/* line 17, ../scss/blocks/_block--system-branding.scss */
.block-system-branding-block a:hover {
  border: none;
}

/* line 1, ../scss/blocks/_block--views.scss */
.block-views {
  padding-top: 1rem;
}
/* line 4, ../scss/blocks/_block--views.scss */
.block-views h2 {
  text-align: center;
}

/* line 4, ../scss/blocks/_block--views--highlighted-videos.scss */
.block-views-blockhighlighted-videos-block h2 {
  color: #76578d;
}

/* line 1, ../scss/blocks/_block--views--highlighted-recipe.scss */
.block-views-blockhighlighted-recipe-block {
  padding: 0;
}

/* line 2, ../scss/views/_view.scss */
.view .more-link {
  text-align: center;
  padding: 1rem 0 0;
}
/* line 6, ../scss/views/_view.scss */
.view .more-link a {
  display: inline-block;
}

@media (min-width: 768px) {
  /* line 13, ../scss/views/_view.scss */
  .view-top.view-display-id-page .views-infinite-scroll-content-wrapper, .view-bookmarks.view-display-id-page .views-infinite-scroll-content-wrapper, .view-videos.view-display-id-page .views-infinite-scroll-content-wrapper, .view-this-week.view-display-id-block_this_week .view-content, .view-top .view-content, .view-taxonomy-term.view-display-id-term_page .view-content {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;
  }
  /* line 19, ../scss/views/_view.scss */
  .view-top.view-display-id-page .views-infinite-scroll-content-wrapper .views-row, .view-bookmarks.view-display-id-page .views-infinite-scroll-content-wrapper .views-row, .view-videos.view-display-id-page .views-infinite-scroll-content-wrapper .views-row, .view-this-week.view-display-id-block_this_week .view-content .views-row, .view-top .view-content .views-row, .view-taxonomy-term.view-display-id-term_page .view-content .views-row {
    width: 50%;
    padding: 0 0.5rem 1rem;
    display: flex;
  }
}
@media (min-width: 1024px) {
  /* line 27, ../scss/views/_view.scss */
  .view-top.view-display-id-page .views-infinite-scroll-content-wrapper .views-row, .view-bookmarks.view-display-id-page .views-infinite-scroll-content-wrapper .views-row, .view-videos.view-display-id-page .views-infinite-scroll-content-wrapper .views-row, .view-this-week.view-display-id-block_this_week .view-content .views-row, .view-top .view-content .views-row, .view-taxonomy-term.view-display-id-term_page .view-content .views-row {
    width: 33.333%;
  }
}
@media (min-width: 1280px) {
  /* line 33, ../scss/views/_view.scss */
  .view-top.view-display-id-page .views-infinite-scroll-content-wrapper .views-row, .view-bookmarks.view-display-id-page .views-infinite-scroll-content-wrapper .views-row, .view-videos.view-display-id-page .views-infinite-scroll-content-wrapper .views-row, .view-this-week.view-display-id-block_this_week .view-content .views-row, .view-top .view-content .views-row, .view-taxonomy-term.view-display-id-term_page .view-content .views-row {
    width: 25%;
  }
}

/* line 40, ../scss/views/_view.scss */
.view-top.view-display-id-page, .view-bookmarks.view-display-id-page, .view-videos.view-display-id-page {
  max-width: 1280px;
  margin: 0 auto;
}
/* line 44, ../scss/views/_view.scss */
.view-top.view-display-id-page .view-content, .view-bookmarks.view-display-id-page .view-content, .view-videos.view-display-id-page .view-content {
  margin: 0;
  display: block;
}

/* line 54, ../scss/views/_view.scss */
.view-this-week.view-display-id-block_this_week, .view-top, .view-taxonomy-term.view-display-id-term_page {
  max-width: 1280px;
  margin: 0 auto;
}

/* line 1, ../scss/views/_view--carousel.scss */
.view-carousel .view-content {
  position: relative;
}
/* line 4, ../scss/views/_view--carousel.scss */
.view-carousel .view-content .slick-dots {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 15, ../scss/views/_view--carousel.scss */
.view-carousel .view-content .slick-dots button {
  background: transparent;
  padding: 0;
  margin: 0;
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid white;
  text-indent: -9999px;
  border-radius: 50%;
  margin: 0 0.25rem;
}
/* line 26, ../scss/views/_view--carousel.scss */
.view-carousel .view-content .slick-dots button:hover, .view-carousel .view-content .slick-dots button:focus {
  background: rgba(255, 255, 255, 0.8);
}
/* line 33, ../scss/views/_view--carousel.scss */
.view-carousel .view-content .slick-dots li.slick-active button {
  background-color: white;
}

/* line 1, ../scss/views/_view--highlighted-videos.scss */
.view-highlighted-videos {
  max-width: 1280px;
  margin: 0 auto;
}
/* line 6, ../scss/views/_view--highlighted-videos.scss */
.view-highlighted-videos .view-content .views-row {
  margin-bottom: 1rem;
}
/* line 9, ../scss/views/_view--highlighted-videos.scss */
.view-highlighted-videos .view-content .views-row:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  /* line 5, ../scss/views/_view--highlighted-videos.scss */
  .view-highlighted-videos .view-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
    height: 100%;
  }
  /* line 20, ../scss/views/_view--highlighted-videos.scss */
  .view-highlighted-videos .view-content .views-row {
    padding: 0 0.5rem;
    width: 33.333%;
    position: relative;
  }
}
@media (min-width: 1024px) {
  /* line 5, ../scss/views/_view--highlighted-videos.scss */
  .view-highlighted-videos .view-content {
    margin: 0;
  }
}

/* line 33, ../scss/views/_view--highlighted-videos.scss */
.view-highlighted-videos.view-display-id-block_first {
  margin: 0 0 1rem;
  height: 100%;
}
@media (min-width: 1024px) {
  /* line 33, ../scss/views/_view--highlighted-videos.scss */
  .view-highlighted-videos.view-display-id-block_first {
    margin-bottom: 0;
  }
}
/* line 41, ../scss/views/_view--highlighted-videos.scss */
.view-highlighted-videos.view-display-id-block_first .view-content {
  margin: 0;
  height: 100%;
  display: flex;
}
/* line 46, ../scss/views/_view--highlighted-videos.scss */
.view-highlighted-videos.view-display-id-block_first .view-content .views-row {
  width: 100%;
  padding: 0;
  height: 100%;
  display: flex;
}

@media (min-width: 1024px) {
  /* line 55, ../scss/views/_view--highlighted-videos.scss */
  .view-highlighted-videos {
    display: flex;
  }
}
@media (min-width: 1024px) {
  /* line 61, ../scss/views/_view--highlighted-videos.scss */
  .view-highlighted-videos .view-header {
    width: 70%;
    padding-right: 1rem;
  }
}
/* line 67, ../scss/views/_view--highlighted-videos.scss */
.view-highlighted-videos .view-header .view-content {
  width: 100%;
}
/* line 70, ../scss/views/_view--highlighted-videos.scss */
.view-highlighted-videos .view-header .view-content .views-row {
  width: 100%;
}
@media (min-width: 1024px) {
  /* line 76, ../scss/views/_view--highlighted-videos.scss */
  .view-highlighted-videos .view-content {
    width: 30%;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
  }
  /* line 83, ../scss/views/_view--highlighted-videos.scss */
  .view-highlighted-videos .view-content .views-row {
    width: 100%;
    height: 33.333%;
    padding: 0;
    margin: 0 0 1rem;
  }
}

/* line 1, ../scss/nodes/_node.scss */
.path-bookmarks .page-content .node, .block-views-blockhighlighted-videos-block .node, .search-results-wrapper .node, .node--type-video.node--view-mode-highlighted {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.333s ease-in-out;
}
/* line 5, ../scss/nodes/_node.scss */
.path-bookmarks .page-content .node:hover, .block-views-blockhighlighted-videos-block .node:hover, .search-results-wrapper .node:hover, .node--type-video.node--view-mode-highlighted:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* line 2, ../scss/nodes/_node--page--full.scss */
.node--type-page.node--view-mode-full .node-content {
  max-width: 1024px;
  padding: 1rem;
  background: white;
  position: relative;
}
@media (min-width: 768px) {
  /* line 2, ../scss/nodes/_node--page--full.scss */
  .node--type-page.node--view-mode-full .node-content {
    margin: -4rem auto 0;
    padding: 2rem;
  }
}
/* line 13, ../scss/nodes/_node--page--full.scss */
.node--type-page.node--view-mode-full .node-content h1 {
  text-align: center;
}

/* line 1, ../scss/nodes/_node--recipe--teaser.scss */
.node--type-recipe.node--view-mode-teaser {
  background: white;
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
/* line 8, ../scss/nodes/_node--recipe--teaser.scss */
.node--type-recipe.node--view-mode-teaser:hover .field--name-field-image img {
  transform: scale(1.1);
}
/* line 12, ../scss/nodes/_node--recipe--teaser.scss */
.node--type-recipe.node--view-mode-teaser .teaser-header {
  margin: -1rem -1rem 0;
  padding-top: 66%;
  border-bottom: 0.25rem solid #11a5b7;
  position: relative;
  overflow: hidden;
}
/* line 19, ../scss/nodes/_node--recipe--teaser.scss */
.node--type-recipe.node--view-mode-teaser .teaser-header .field--name-field-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
/* line 26, ../scss/nodes/_node--recipe--teaser.scss */
.node--type-recipe.node--view-mode-teaser .teaser-header .field--name-field-image img {
  max-width: 100%;
  transition: all 0.5s ease-in-out;
}
/* line 33, ../scss/nodes/_node--recipe--teaser.scss */
.node--type-recipe.node--view-mode-teaser .teaser-content {
  padding: 1rem 0;
}

/* line 2, ../scss/nodes/_node--recipe--full.scss */
.node--type-recipe.node--view-mode-full .node-content {
  max-width: 1024px;
  padding: 1rem;
  background: white;
  position: relative;
}
@media (min-width: 768px) {
  /* line 2, ../scss/nodes/_node--recipe--full.scss */
  .node--type-recipe.node--view-mode-full .node-content {
    margin: -4rem auto 0;
    padding: 2rem;
  }
}
/* line 13, ../scss/nodes/_node--recipe--full.scss */
.node--type-recipe.node--view-mode-full .node-content h1 {
  text-align: center;
}

/* line 2, ../scss/nodes/_node--recipe--highlighted.scss */
.node--type-recipe.node--view-mode-highlighted .highlighted-wrapper {
  padding-top: 50%;
  background-size: cover;
}
@media (min-width: 768px) {
  /* line 2, ../scss/nodes/_node--recipe--highlighted.scss */
  .node--type-recipe.node--view-mode-highlighted .highlighted-wrapper {
    position: relative;
    padding-top: 0;
  }
  /* line 10, ../scss/nodes/_node--recipe--highlighted.scss */
  .node--type-recipe.node--view-mode-highlighted .highlighted-wrapper .highlighted-content-wrapper {
    max-width: 1280px;
    margin: auto;
    padding: 20% 1rem 2rem;
  }
}
@media (min-width: 1024px) {
  /* line 2, ../scss/nodes/_node--recipe--highlighted.scss */
  .node--type-recipe.node--view-mode-highlighted .highlighted-wrapper {
    padding: 10% 2rem 3rem;
  }
}
/* line 21, ../scss/nodes/_node--recipe--highlighted.scss */
.node--type-recipe.node--view-mode-highlighted .highlighted-wrapper .highlighted-content {
  background: white;
  padding: 1rem;
  text-align: left;
  position: relative;
  transition: all 0.333s ease-in-out;
}
@media (min-width: 768px) {
  /* line 21, ../scss/nodes/_node--recipe--highlighted.scss */
  .node--type-recipe.node--view-mode-highlighted .highlighted-wrapper .highlighted-content {
    max-width: 50%;
    left: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
  }
  /* line 34, ../scss/nodes/_node--recipe--highlighted.scss */
  .node--type-recipe.node--view-mode-highlighted .highlighted-wrapper .highlighted-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  }
}
/* line 40, ../scss/nodes/_node--recipe--highlighted.scss */
.node--type-recipe.node--view-mode-highlighted .highlighted-wrapper .highlighted-content h2 {
  text-align: left;
  margin-bottom: 1rem;
}

/* line 1, ../scss/nodes/_node--carousel-slide--carousel.scss */
.node--type-carousel-slide.node--view-mode-carousel {
  height: calc(100vh - 4rem);
  position: relative;
}
@media (min-width: 768px) {
  /* line 1, ../scss/nodes/_node--carousel-slide--carousel.scss */
  .node--type-carousel-slide.node--view-mode-carousel {
    height: calc(75vh - 4rem);
  }
}
/* line 9, ../scss/nodes/_node--carousel-slide--carousel.scss */
.node--type-carousel-slide.node--view-mode-carousel .field-group-background-image {
  padding: 0 1rem 6rem;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
/* line 20, ../scss/nodes/_node--carousel-slide--carousel.scss */
.node--type-carousel-slide.node--view-mode-carousel .field-group-background-image::after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0) 50%, #000000 100%);
}
@media (min-width: 768px) {
  /* line 9, ../scss/nodes/_node--carousel-slide--carousel.scss */
  .node--type-carousel-slide.node--view-mode-carousel .field-group-background-image {
    padding: 6rem 2rem;
  }
}
/* line 35, ../scss/nodes/_node--carousel-slide--carousel.scss */
.node--type-carousel-slide.node--view-mode-carousel .carousel-content {
  margin: auto auto 0 auto;
  max-width: 1280px;
  width: 100%;
  z-index: 2;
}
/* line 42, ../scss/nodes/_node--carousel-slide--carousel.scss */
.node--type-carousel-slide.node--view-mode-carousel .field--name-node-title {
  margin-top: auto;
  z-index: 2;
}
/* line 47, ../scss/nodes/_node--carousel-slide--carousel.scss */
.node--type-carousel-slide.node--view-mode-carousel .field--name-field-link a {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-indent: -9999px;
  z-index: 3;
}
/* line 57, ../scss/nodes/_node--carousel-slide--carousel.scss */
.node--type-carousel-slide.node--view-mode-carousel .field--name-field-teaser {
  color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  z-index: 2;
  font-size: 1.25rem;
  font-weight: 400;
}
/* line 65, ../scss/nodes/_node--carousel-slide--carousel.scss */
.node--type-carousel-slide.node--view-mode-carousel h1 {
  color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 0;
}

/* line 73, ../scss/nodes/_node--carousel-slide--carousel.scss */
body.adminimal-admin-toolbar .node--type-carousel-slide.node--view-mode-carousel {
  height: calc(100vh - 4rem - 40px);
}
@media (min-width: 768px) {
  /* line 73, ../scss/nodes/_node--carousel-slide--carousel.scss */
  body.adminimal-admin-toolbar .node--type-carousel-slide.node--view-mode-carousel {
    height: calc(75vh - 4rem - 40px);
  }
}

/* line 1, ../scss/nodes/_node--video--teaser.scss */
.node--type-video.node--view-mode-teaser {
  background: white;
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
/* line 8, ../scss/nodes/_node--video--teaser.scss */
.node--type-video.node--view-mode-teaser .teaser-header {
  margin: -1rem -1rem 0;
  padding-top: 66%;
  border-bottom: 0.25rem solid #76578d;
  position: relative;
  overflow: hidden;
}
/* line 16, ../scss/nodes/_node--video--teaser.scss */
.node--type-video.node--view-mode-teaser .teaser-content {
  padding: 1rem 0;
}
/* line 19, ../scss/nodes/_node--video--teaser.scss */
.node--type-video.node--view-mode-teaser .teaser-content h3 {
  color: #76578d;
}
/* line 23, ../scss/nodes/_node--video--teaser.scss */
.node--type-video.node--view-mode-teaser .teaser-content .field--name-node-post-date {
  color: #76578d;
}

/* line 1, ../scss/nodes/_node--video--highlighted.scss */
.node--type-video.node--view-mode-highlighted {
  background: white;
  position: relative;
}
/* line 7, ../scss/nodes/_node--video--highlighted.scss */
.node--type-video.node--view-mode-highlighted .highlighted-header {
  overflow: hidden;
  border-bottom: 0.25rem solid #76578d;
}
/* line 12, ../scss/nodes/_node--video--highlighted.scss */
.node--type-video.node--view-mode-highlighted .highlighted-content {
  padding: 1rem;
}
/* line 15, ../scss/nodes/_node--video--highlighted.scss */
.node--type-video.node--view-mode-highlighted .highlighted-content h3 {
  color: #76578d;
}
/* line 20, ../scss/nodes/_node--video--highlighted.scss */
.node--type-video.node--view-mode-highlighted .field--name-field-video.field-video-with-icon {
  position: relative;
}

@media (min-width: 768px) {
  /* line 29, ../scss/nodes/_node--video--highlighted.scss */
  .view-highlighted-videos:not(.view-display-id-block_first) > .view-content .highlighted-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    pointer-events: none;
  }
  /* line 37, ../scss/nodes/_node--video--highlighted.scss */
  .view-highlighted-videos:not(.view-display-id-block_first) > .view-content .highlighted-content .field--name-field-teaser {
    display: none;
  }
  /* line 41, ../scss/nodes/_node--video--highlighted.scss */
  .view-highlighted-videos:not(.view-display-id-block_first) > .view-content .highlighted-content h3 {
    margin-bottom: 0;
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  }
  /* line 50, ../scss/nodes/_node--video--highlighted.scss */
  .view-highlighted-videos:not(.view-display-id-block_first) > .view-content svg {
    display: none;
  }
  /* line 54, ../scss/nodes/_node--video--highlighted.scss */
  .view-highlighted-videos:not(.view-display-id-block_first) > .view-content .video-shim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%);
  }
  /* line 63, ../scss/nodes/_node--video--highlighted.scss */
  .view-highlighted-videos:not(.view-display-id-block_first) > .view-content .field--name-node-link a:hover {
    background: #76578d;
  }
}

/* line 2, ../scss/fieldgroups/_fieldgroup--node-main-tags--full.scss */
.node--view-mode-full .node-main-tags {
  display: flex;
  margin: 0 -0.25rem 1rem;
}
/* line 6, ../scss/fieldgroups/_fieldgroup--node-main-tags--full.scss */
.node--view-mode-full .node-main-tags > div {
  margin: 0 0.25rem;
}

/* line 2, ../scss/fieldgroups/_fieldgroup--node-tags--full.scss */
.node--view-mode-full .node-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0.5rem;
}
/* line 8, ../scss/fieldgroups/_fieldgroup--node-tags--full.scss */
.node--view-mode-full .node-tags i {
  margin-right: 1rem;
}

/* line 2, ../scss/fieldgroups/_fieldgroup--teaser-footer--teaser.scss */
.node--view-mode-teaser .teaser-footer {
  border-top: 1px solid #f0f0f0;
  display: flex;
  align-items: baseline;
  padding-top: 1rem;
  margin-top: auto;
}
/* line 9, ../scss/fieldgroups/_fieldgroup--teaser-footer--teaser.scss */
.node--view-mode-teaser .teaser-footer > div {
  margin-bottom: 0;
}
/* line 13, ../scss/fieldgroups/_fieldgroup--teaser-footer--teaser.scss */
.node--view-mode-teaser .teaser-footer > div:first-child {
  margin-left: 0;
}
/* line 17, ../scss/fieldgroups/_fieldgroup--teaser-footer--teaser.scss */
.node--view-mode-teaser .teaser-footer > div:last-child {
  margin-right: 0;
}

/* line 1, ../scss/fields/_field.scss */
.field--name-field-required-skill, .field--name-field-duration, .field--name-field-cuisine, .field--name-field-course, .field--name-field-main-ingredients .field__item, .field--name-field-recipe-type .field__item, .field--name-bundle-fieldnode, .print__wrapper, .field--name-field-comments .links.inline li a, .flag-bookmarks a {
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  border: 1px solid #e0e0e0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

/* line 10, ../scss/fields/_field.scss */
.field--name-field-required-skill, .field--name-field-duration, .field--name-field-cuisine, .field--name-field-course, .field--name-field-main-ingredients .field__item, .field--name-field-recipe-type .field__item, .field--name-bundle-fieldnode, .print__wrapper, .flag-bookmarks a {
  margin: 0 0.25rem;
  margin-bottom: 0.5rem;
}

/* line 15, ../scss/fields/_field.scss */
.field--name-field-cuisine, .field--name-field-course, .field--name-field-main-ingredients .field__item, .field--name-field-recipe-type .field__item {
  border: 1px solid #666;
  background: #ccc;
  transition: all 0.333s ease-in-out;
  cursor: pointer;
}
/* line 21, ../scss/fields/_field.scss */
.field--name-field-cuisine:hover, .field--name-field-course:hover, .field--name-field-main-ingredients .field__item:hover, .field--name-field-recipe-type .field__item:hover {
  background: #666;
}
/* line 25, ../scss/fields/_field.scss */
.field--name-field-cuisine a, .field--name-field-course a, .field--name-field-main-ingredients .field__item a, .field--name-field-recipe-type .field__item a {
  color: #202020;
}
/* line 28, ../scss/fields/_field.scss */
.field--name-field-cuisine a:hover, .field--name-field-course a:hover, .field--name-field-main-ingredients .field__item a:hover, .field--name-field-recipe-type .field__item a:hover {
  color: black;
}

/* line 2, ../scss/fields/_field--addtoany.scss */
.addtoany-wrapper .addtoany-buttons {
  margin: 0 -0.25rem 1.125rem;
  padding: 0;
  list-style: none;
  display: flex;
}
/* line 8, ../scss/fields/_field--addtoany.scss */
.addtoany-wrapper .addtoany-buttons li {
  margin: 0 0.25rem;
  padding: 0;
}
/* line 12, ../scss/fields/_field--addtoany.scss */
.addtoany-wrapper .addtoany-buttons li:first-child {
  margin-left: auto;
}
/* line 16, ../scss/fields/_field--addtoany.scss */
.addtoany-wrapper .addtoany-buttons li a {
  border-radius: 50%;
  color: #202020;
  display: block;
  overflow: hidden;
  padding: 0.25rem;
  border: 1px solid #e0e0e0;
}
/* line 24, ../scss/fields/_field--addtoany.scss */
.addtoany-wrapper .addtoany-buttons li a:hover {
  border: 1px solid #11a5b7;
}
/* line 28, ../scss/fields/_field--addtoany.scss */
.addtoany-wrapper .addtoany-buttons li a svg {
  fill: #202020;
  transition: all 0.333s ease-in-out;
}
/* line 33, ../scss/fields/_field--addtoany.scss */
.addtoany-wrapper .addtoany-buttons li a svg:hover path {
  fill: #11a5b7;
}
/* line 39, ../scss/fields/_field--addtoany.scss */
.addtoany-wrapper .addtoany-buttons li a span {
  display: block;
}

/* line 1, ../scss/fields/_field--node-post-date.scss */
.field--name-node-post-date {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #11a5b7;
  font-family: "Open Sans Condensed", sans-serif;
}

/* line 5, ../scss/fields/_field--required-skill.scss */
.field--name-field-required-skill a {
  color: #202020;
  border: none !important;
}
/* line 9, ../scss/fields/_field--required-skill.scss */
.field--name-field-required-skill a:hover {
  color: #11a5b7;
}

/* line 6, ../scss/fields/_field--cuisine.scss */
.field--name-field-cuisine a {
  border: none !important;
}

/* line 6, ../scss/fields/_field--course.scss */
.field--name-field-course a {
  border: none !important;
}

/* line 1, ../scss/fields/_field--main-ingredients.scss */
.field--name-field-main-ingredients {
  display: flex;
  flex-wrap: wrap;
  margin: 0 !important;
}
/* line 11, ../scss/fields/_field--main-ingredients.scss */
.field--name-field-main-ingredients .field__item a {
  border: none !important;
}

/* line 1, ../scss/fields/_field--recipe-type.scss */
.field--name-field-recipe-type {
  display: flex;
  flex-wrap: wrap;
}
/* line 10, ../scss/fields/_field--recipe-type.scss */
.field--name-field-recipe-type .field__item a {
  border: none !important;
}

/* line 1, ../scss/fields/_field--print-wrapper.scss */
.print__wrapper {
  margin-left: auto !important;
}
/* line 7, ../scss/fields/_field--print-wrapper.scss */
.print__wrapper a {
  color: #202020;
  border: none !important;
}
/* line 11, ../scss/fields/_field--print-wrapper.scss */
.print__wrapper a:hover {
  color: #11a5b7;
}

/* line 3, ../scss/fields/_field--node-name-link--teaser.scss */
.node--view-mode-teaser .field--name-node-link a,
.node--view-mode-highlighted .field--name-node-link a {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-indent: -9999px;
  border: none !important;
}

/* line 1, ../scss/fields/_field--video.scss */
.field--name-field-video.field-video-with-icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
/* line 8, ../scss/fields/_field--video.scss */
.field--name-field-video.field-video-with-icon img {
  max-width: 100%;
  transition: all 0.5s ease-in-out;
  transform: scale(1.17825);
}
/* line 14, ../scss/fields/_field--video.scss */
.field--name-field-video.field-video-with-icon svg {
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  transition: all 0.333s ease-in-out;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

/* line 26, ../scss/fields/_field--video.scss */
.node--type-video:hover .field--name-field-video.field-video-with-icon i {
  color: rgba(118, 87, 141, 0.8);
}

/* line 30, ../scss/fields/_field--video.scss */
.node--type-video:hover .field--name-field-video.field-video-with-icon img {
  transform: scale(1.27825);
}

/* line 1, ../scss/fields/_field--comments.scss */
.field--name-field-comments {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  margin-top: 1rem;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  /* line 1, ../scss/fields/_field--comments.scss */
  .field--name-field-comments {
    margin: 2rem 0;
  }
}
/* line 11, ../scss/fields/_field--comments.scss */
.field--name-field-comments h2 {
  text-align: center;
}
/* line 15, ../scss/fields/_field--comments.scss */
.field--name-field-comments .comment-header {
  display: flex;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1rem;
  border-bottom: 1px dotted #f0f0f0;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
/* line 24, ../scss/fields/_field--comments.scss */
.field--name-field-comments .comment--type-default .field--name-comment-body {
  padding: 1rem 0 0;
}
/* line 28, ../scss/fields/_field--comments.scss */
.field--name-field-comments .comment--type-default .field--name-comment-title {
  font-family: "Amatic SC", serif;
  font-size: 1.75rem;
  font-weight: bold;
  color: #11a5b7;
}
/* line 35, ../scss/fields/_field--comments.scss */
.field--name-field-comments .indented {
  padding-left: 1rem;
}
@media (min-width: 768px) {
  /* line 35, ../scss/fields/_field--comments.scss */
  .field--name-field-comments .indented {
    padding-left: 2rem;
  }
}
/* line 43, ../scss/fields/_field--comments.scss */
.field--name-field-comments .links.inline {
  padding: 1rem 0;
  list-style: none;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  margin: 0 -0.25rem 1.125rem;
}
/* line 51, ../scss/fields/_field--comments.scss */
.field--name-field-comments .links.inline li {
  padding: 0 0.25rem;
}
/* line 54, ../scss/fields/_field--comments.scss */
.field--name-field-comments .links.inline li:first-child {
  margin-left: auto;
}
/* line 58, ../scss/fields/_field--comments.scss */
.field--name-field-comments .links.inline li a {
  color: #202020;
}
/* line 62, ../scss/fields/_field--comments.scss */
.field--name-field-comments .links.inline li a:hover {
  color: #11a5b7;
}

/* line 2, ../scss/fields/_field--comment-user.scss */
.field--name-comment-user .user--type-user {
  display: flex;
  font-weight: bold;
  color: #11a5b7;
  margin-right: 0.25rem;
}
/* line 8, ../scss/fields/_field--comment-user.scss */
.field--name-comment-user .user--type-user .field--name-field-firstname {
  margin-right: 0.25rem;
}

/* line 1, ../scss/flags/_flag--bookmark.scss */
.flag-bookmarks {
  margin-left: 0 !important;
}
/* line 4, ../scss/flags/_flag--bookmark.scss */
.flag-bookmarks a {
  color: #202020;
  transition: all 0.3333s ease-in-out;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0;
}
/* line 15, ../scss/flags/_flag--bookmark.scss */
.flag-bookmarks a:hover {
  color: white;
  background: #11a5b7;
  border: 1px solid #11a5b7;
}
/* line 21, ../scss/flags/_flag--bookmark.scss */
.flag-bookmarks a svg {
  margin-left: 0.5rem;
}
/* line 27, ../scss/flags/_flag--bookmark.scss */
.flag-bookmarks.action-unflag a {
  color: #11a5b7;
  border-color: #11a5b7;
}
/* line 31, ../scss/flags/_flag--bookmark.scss */
.flag-bookmarks.action-unflag a:hover {
  color: white;
}

/* line 38, ../scss/flags/_flag--bookmark.scss */
.teaser-footer .flag-bookmarks a {
  position: absolute;
  z-index: 99;
  right: 1rem;
  margin-right: 0;
  bottom: 1rem;
}

/* line 1, ../scss/forms/_form-components.scss */
input,
button,
input[type="submit"],
textarea {
  transition: all 0.3333s ease-in-out;
  border-radius: 2px;
}

/* line 9, ../scss/forms/_form-components.scss */
textarea,
input[type="search"],
input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  border: 1px solid #cacbcb;
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  font-family: "Open Sans Condensed", sans-serif;
  box-shadow: inset 0 0 15px rgba(96, 96, 96, 0.15);
  margin-bottom: 1.125rem;
}
/* line 18, ../scss/forms/_form-components.scss */
textarea:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus, textarea:hover,
input[type="search"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="text"]:hover {
  outline: none;
  border: 1px solid #81c185;
  box-shadow: none;
  box-shadow: 0 0 5px rgba(129, 193, 133, 0.4);
}

/* line 36, ../scss/forms/_form-components.scss */
.view .more-link a, input[type="submit"],
button,
.button {
  background: #81c185;
  color: white;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  font-size: 1.75rem;
  border: none;
  font-weight: 600;
  font-family: "Amatic SC", serif;
  margin-bottom: 1.125rem;
}
/* line 49, ../scss/forms/_form-components.scss */
.view .more-link a:hover, input[type="submit"]:hover,
button:hover,
.button:hover, .view .more-link a:focus, input[type="submit"]:focus,
button:focus,
.button:focus {
  background-color: #49934d;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  border: none;
}

/* line 63, ../scss/forms/_form-components.scss */
select {
  -webkit-appearance: none;
  appearance: none;
  margin-bottom: 1rem;
  border-radius: 2px;
  border: 1px solid #cac9c8;
  box-shadow: inset 0 0 15px rgba(92, 93, 93, 0.15);
  padding: calc(1rem - 1px) 2.5rem;
  padding-left: 1.5rem;
  font-size: 1.1rem;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #fff;
  background-image: url(../img/arrow-down.svg);
  background-position: right 1rem center;
  background-repeat: no-repeat;
  background-size: .75rem;
  color: #3f4c6b;
}

/* line 82, ../scss/forms/_form-components.scss */
select:focus {
  outline: none;
  border: 1px solid #81c185;
  box-shadow: none;
  box-shadow: 0 0 5px rgba(129, 193, 133, 0.4);
}

/* line 1, ../scss/forms/_form-items.scss */
.form-item {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 1.125rem 0;
}
/* line 7, ../scss/forms/_form-items.scss */
.form-item label {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

/* line 15, ../scss/forms/_form-items.scss */
.form-actions {
  margin: 0 0 1.125rem;
  text-align: center;
}

/* line 3, ../scss/forms/_form-user-register.scss */
.user-register-form fieldset {
  border: none;
  margin-bottom: 0;
}
/* line 7, ../scss/forms/_form-user-register.scss */
.user-register-form fieldset legend {
  font-family: "Amatic SC", serif;
  font-size: 2rem;
  color: #11a5b7;
  margin-bottom: 1.125rem;
}
@media (min-width: 768px) {
  /* line 14, ../scss/forms/_form-user-register.scss */
  .user-register-form fieldset .fieldset-wrapper {
    display: flex;
    margin: 0 -0.5rem;
  }
  /* line 19, ../scss/forms/_form-user-register.scss */
  .user-register-form fieldset .fieldset-wrapper > div {
    padding: 0 0.5rem;
    width: 50%;
  }
}
@media (min-width: 768px) {
  /* line 27, ../scss/forms/_form-user-register.scss */
  .user-register-form .form-type-password-confirm {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -0.5rem 1.125rem;
  }
  /* line 33, ../scss/forms/_form-user-register.scss */
  .user-register-form .form-type-password-confirm .form-item {
    padding: 0 0.5rem;
    width: 50%;
  }
  /* line 38, ../scss/forms/_form-user-register.scss */
  .user-register-form .form-type-password-confirm .password-suggestions {
    padding: 0 1rem;
    width: 50%;
    border: none;
    max-width: none;
    margin: 0;
  }
  /* line 46, ../scss/forms/_form-user-register.scss */
  .user-register-form .form-type-password-confirm .description {
    width: 50%;
    padding: 0 0.5rem;
  }
}
/* line 53, ../scss/forms/_form-user-register.scss */
.user-register-form .form-type-password-confirm .form-item input {
  width: 100%;
  margin-bottom: 0;
}
/* line 59, ../scss/forms/_form-user-register.scss */
.user-register-form .form-type-password-confirm .password-strength,
.user-register-form .form-type-password-confirm div.password-confirm {
  width: 100%;
  font-size: 1rem;
}
/* line 65, ../scss/forms/_form-user-register.scss */
.user-register-form .form-type-password-confirm div.password-confirm {
  margin: 0;
  padding-top: 1rem;
}
/* line 70, ../scss/forms/_form-user-register.scss */
.user-register-form .form-type-password-confirm .password-strength__meter {
  margin: 0 0 0.5rem;
  height: 0.5rem;
  border-radius: 0 0 2px 2px;
}
/* line 77, ../scss/forms/_form-user-register.scss */
.user-register-form .edit-timezone {
  display: none;
}

/* line 2, ../scss/forms/_form-user-password.scss */
form.user-pass .form-item {
  margin-bottom: 0;
}
/* line 6, ../scss/forms/_form-user-password.scss */
form.user-pass p {
  font-size: 1rem;
  margin-bottom: 1.125rem;
}

/* line 2, ../scss/forms/_form-exposed-form.scss */
.views-exposed-form .form--inline {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  /* line 2, ../scss/forms/_form-exposed-form.scss */
  .views-exposed-form .form--inline {
    padding: 0;
    flex-direction: row;
    align-items: top;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
  }
}
@media (min-width: 1024px) {
  /* line 2, ../scss/forms/_form-exposed-form.scss */
  .views-exposed-form .form--inline {
    flex-wrap: nowrap;
  }
}
/* line 21, ../scss/forms/_form-exposed-form.scss */
.views-exposed-form .form--inline > .form-actions input {
  width: 100%;
}
@media (min-width: 768px) {
  /* line 19, ../scss/forms/_form-exposed-form.scss */
  .views-exposed-form .form--inline > .form-actions {
    padding: 0 0.5rem;
    width: 50%;
  }
}
@media (min-width: 1024px) {
  /* line 19, ../scss/forms/_form-exposed-form.scss */
  .views-exposed-form .form--inline > .form-actions {
    width: unset;
  }
}
/* line 35, ../scss/forms/_form-exposed-form.scss */
.views-exposed-form .form--inline > .form-item {
  padding: 0;
  float: none;
  margin: 0;
  flex-grow: 1;
}
@media (min-width: 768px) {
  /* line 35, ../scss/forms/_form-exposed-form.scss */
  .views-exposed-form .form--inline > .form-item {
    width: 50%;
    padding: 0 0.5rem;
  }
}

/* line 2, ../scss/search/_search-form-block.scss */
.block-search-api-page-form-block .search-bar-button {
  padding: 1rem;
  height: 4rem;
  width: 4rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: #a3d2a6;
  transition: all 0.333s ease-in-out;
  cursor: pointer;
}
/* line 12, ../scss/search/_search-form-block.scss */
.block-search-api-page-form-block .search-bar-button:hover {
  background-color: #49934d;
}
/* line 17, ../scss/search/_search-form-block.scss */
.block-search-api-page-form-block .search-bar {
  padding: 0.5rem;
  width: 100%;
  background: #c5e3c7;
  position: absolute;
  top: 4rem;
  left: 0;
}
/* line 25, ../scss/search/_search-form-block.scss */
.block-search-api-page-form-block .search-bar form {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}
/* line 30, ../scss/search/_search-form-block.scss */
.block-search-api-page-form-block .search-bar form .form-actions {
  margin-bottom: 0;
}
/* line 33, ../scss/search/_search-form-block.scss */
.block-search-api-page-form-block .search-bar form .form-actions input {
  margin: 0;
  border-radius: 0 2px 2px 0;
  border: 1px solid #81c185;
}
/* line 40, ../scss/search/_search-form-block.scss */
.block-search-api-page-form-block .search-bar form .form-item {
  margin-bottom: 0;
  flex-grow: 1;
}
/* line 45, ../scss/search/_search-form-block.scss */
.block-search-api-page-form-block .search-bar form input.form-search {
  margin: 0;
  flex-grow: 1;
  color: #202020;
}

/* line 54, ../scss/search/_search-form-block.scss */
.search-bar {
  display: none;
}

/* line 58, ../scss/search/_search-form-block.scss */
body.search-bar-open .search-bar-button {
  background: #c5e3c7;
}

/* line 62, ../scss/search/_search-form-block.scss */
body.search-bar-open .search-bar {
  display: block;
}

/* line 1, ../scss/search/_search-form-page.scss */
.page-content .search-api-page-block-form {
  max-width: 768px;
  margin: 0 auto 2rem;
  padding: 0 1rem;
  display: flex;
}
@media (min-width: 768px) {
  /* line 1, ../scss/search/_search-form-page.scss */
  .page-content .search-api-page-block-form {
    padding: 0 2rem;
  }
}
/* line 12, ../scss/search/_search-form-page.scss */
.page-content .search-api-page-block-form .form-actions {
  margin-bottom: 0;
}
/* line 15, ../scss/search/_search-form-page.scss */
.page-content .search-api-page-block-form .form-actions input {
  margin: 0;
  border-radius: 0 2px 2px 0;
}
/* line 21, ../scss/search/_search-form-page.scss */
.page-content .search-api-page-block-form .form-item {
  margin-bottom: 0;
  flex-grow: 1;
}
/* line 26, ../scss/search/_search-form-page.scss */
.page-content .search-api-page-block-form input.form-search {
  margin: 0;
  flex-grow: 1;
}

/* line 32, ../scss/search/_search-form-page.scss */
.search-help {
  max-width: 768px;
  padding: 0 1rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  /* line 32, ../scss/search/_search-form-page.scss */
  .search-help {
    padding: 0 2rem;
  }
}

/* line 4, ../scss/search/_search-results.scss */
.search-results-wrapper .search-results {
  max-width: 1280px;
  margin: 0 auto;
}
/* line 8, ../scss/search/_search-results.scss */
.search-results-wrapper .search-results .node {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  /* line 4, ../scss/search/_search-results.scss */
  .search-results-wrapper .search-results {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
  }
  /* line 17, ../scss/search/_search-results.scss */
  .search-results-wrapper .search-results h2 {
    width: 100%;
  }
  /* line 21, ../scss/search/_search-results.scss */
  .search-results-wrapper .search-results > .node {
    width: calc(50% - 1rem);
    margin: 0 0.5rem 1rem;
  }
}
@media (min-width: 1024px) {
  /* line 28, ../scss/search/_search-results.scss */
  .search-results-wrapper .search-results > .node {
    width: calc(33.333% - 1rem);
  }
}
@media (min-width: 1024px) {
  /* line 34, ../scss/search/_search-results.scss */
  .search-results-wrapper .search-results > .node {
    width: calc(25% - 1rem);
  }
}
