.block-menu.menu--follow {
    h2 {
        color: $white;
    }

    .menu {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin: 0 $spacing-half 0 0;

            &:last-child {
                margin-right: 0;
            }

            a {
                font-size: 1.5rem;
                color: $white;

                &:hover {
                    color: lighten($green, 20%);
                    border: none;
                }
            }
        }
    }
}