.block-menu.menu--footer {
    h2 {
        color: $white;
    }

    .menu {
        padding: 0;
        list-style: none;
        margin: 0;

        li {
            margin: 0 0 $spacing-half;
            padding: 0;

            a {
                color: $white;

                &:hover {
                    border-bottom-color: $white;
                }
            }
        }
    }
}