.block-menu.menu--account {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: relative;

    .user-menu-button {
        padding: $spacing;
        height: 4rem;
        width: 4rem;
        font-size: 1.5rem;
        text-align: center;
        background-color: lighten($green, 10%);
        transition: all 0.333s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: darken($green, 20%);
        }
    }

    .user-menu {
        position: absolute;
        right: 0;
        top: 4rem;
        width: max-content;
        padding: $spacing;
        color: $white;
        background: $blue;
        font-family: $font-family-condensed;
        font-weight: 400;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: $spacing-half;
        color: $white;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            padding: 0.25rem;

            &:last-child {
                margin-top: 0.75rem;
                padding-top: $spacing-half;
                border-top: 1px solid $white;
            }

            a {
                color: $white;

                &:hover {
                    border-bottom-color: $white;
                }
            }
        }
    }
}

.user-menu {
    display: none;
}

body.user-menu-open .user-menu {
    display: block;
}