ul.tabs {
    border-bottom: 1px solid $blue;
    margin: 0 0 $margin;
    font-family: $font-family-condensed;
    color: $blue;
    display: flex;

    li {
        border-bottom: 4px solid transparent;
        padding: 0;
        margin: 0;
        transition: all 0.333s ease-in-out;

        &.is-active,
        &:hover {
            border-bottom: 4px solid $blue;

            a {
                background: none;
            }
        }

        a {
            color: $blue;
            border-bottom: none;
            font-weight: 600;
            padding: $spacing-half $spacing;
        }
    }
}