{{ form }}





{% if search_help %}
<div class="search-help">
{{ no_results_found }}
    {{ search_help }}
</div>
{% endif %}

{% if no_of_results %}
<div class="search-results-wrapper">
{% if search_title %}
  <h2>{{ search_title }}</h2>
{% endif %}
<div class="search-results">
{{ results }}

{{ pager }}
</div>
</div>
{% endif %}
