.page-footer {
    .container {
        max-width: $breakpoint-max;
        padding: $spacing;
        margin: 0 auto;
        color: $white;

        @include breakpoint($breakpoint-medium) {
            padding: $spacing-double;
        }

        h2 {
            font-size: 1.75rem;
            margin-bottom: $spacing-half;
            color: $white;
        }

        .block {
            margin-bottom: $margin;
        }

        .region-footer {
            @include breakpoint($breakpoint-medium) {
                display: flex;
                flex-wrap: wrap;
                margin: 0 (-$spacing-half);

                .block {
                    padding: 0 $spacing-half;
                    width: 50%;

                    &:first-child {
                        width: 100%;
                    }
                }
            }

            @include breakpoint($breakpoint-large) {
                .block {
                    width: 25%;

                    &:first-child {
                        width: 50%;
                    }
                }
            }
        }
    }

    .disclaimer {
        background-color: darken($green, 20%);
        font-size: 1rem;
        text-align: center;
        padding: $spacing-half $spacing;
        color: $white;
        font-family: $font-family-condensed;

        @include breakpoint($breakpoint-medium) {
            padding: $spacing $spacing-double;
        }

        a {
            color: $white;

            &:hover {
                border-bottom-color: $white;
            }
        }
    }
}