.region-header {
    color: $white;
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
    z-index: 1;
    margin: 0 auto;
    max-width: $breakpoint-max;

    .block-menu.menu--account {
        margin-left: auto;
    }
}