.page-header {
    position: sticky;
    width: 100%;
    z-index: 2;
    background-color: $green;
    box-shadow: 0 0 15px rgba($black, 0.4);
}

.path-user .page-content {
    padding: $spacing;
    max-width: $breakpoint-large;
    margin: 0 auto;

    h1 {
        text-align: center;
    }
}

.path-videos .page-content,
.path-popular-recipes .page-content,
.path-taxonomy .page-content {
    padding: $spacing 0;

    @include breakpoint($breakpoint-medium) {
        padding: $spacing;
    }

    @include breakpoint($breakpoint-large) {
        padding: $spacing $spacing-double;
    }

    h1 {
        text-align: center;
    }
}

.path-bookmarks .page-content {
    @extend %embossed;

    h1 {
        text-align: center;
    }
}

.path-search .page-content {
    padding: $spacing 0 0;

    h1 {
        text-align: center;
    }
}

.page-footer {
    width: 100%;
    background: $green;
}