input,
button,
input[type="submit"],
textarea {
    transition: all 0.3333s ease-in-out;
    border-radius: 2px;
}

%textfield-base {
    width: 100%;
    border: 1px solid $silver;
    padding: $spacing * 0.75 $spacing * 1.25;
    font-size: 1.25rem;
    font-family: $font-family-condensed;
    box-shadow: inset 0 0 15px rgba($dim-grey, 0.15);
    margin-bottom: $margin;

    &:focus,
    &:hover {
        outline: none;
        border: 1px solid $green;
        box-shadow: none;
        box-shadow: 0 0 5px rgba($green, 0.4);
    }
}

textarea,
input[type="search"],
input[type="email"],
input[type="password"],
input[type="text"] {
    @extend %textfield-base;
}


%button-base {
    background: $green;
    color: $white;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0.75rem $spacing * 1.5;
    font-size: 1.75rem;
    border: none;
    font-weight: 600;
    font-family: $font-family-header;
    margin-bottom: $margin;

    &:hover,
    &:focus {
        background-color: darken($green, 20%);
        box-shadow: 0 0 30px rgba($black, 0.05);
        border: none;
    }
}

input[type="submit"],
button,
.button {
    @extend %button-base;
}

select {
    -webkit-appearance: none;
    appearance: none;
    margin-bottom: 1rem;
    border-radius: 2px;
    border: 1px solid rgb(202, 201, 200);
    box-shadow: inset 0 0 15px rgba(92, 93, 93, 0.15);
    padding: calc(1rem - 1px) 2.5rem;
    padding-left: 1.5rem;
    font-size: 1.1rem;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #fff;
    background-image: url(../img/arrow-down.svg);
    background-position: right 1rem center;
    background-repeat: no-repeat;
    background-size: .75rem;
    color: rgb(63, 76, 107);
}

select:focus {
    outline: none;
    border: 1px solid $green;
    box-shadow: none;
    box-shadow: 0 0 5px rgba($green, 0.4);
}