.form-item {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 0 $margin 0;

    label {
        font-family: $font-family-condensed;
        font-weight: 600;
        margin-bottom: $spacing-half;
        font-size: 1rem;
    }
}

.form-actions {
    margin: 0 0 $margin;
    text-align: center;
}