.views-exposed-form {
    .form--inline {
        display: flex;
        flex-direction: column;
        padding: 0 $spacing;

        @include breakpoint($breakpoint-medium) {
            padding: 0;
            flex-direction: row;
            align-items: top;
            flex-wrap: wrap;
            margin: 0 (-$spacing-half);
        }

        @include breakpoint($breakpoint-large) {
            flex-wrap: nowrap;
        }

        >.form-actions {

            input {
                width: 100%;
            }

            @include breakpoint($breakpoint-medium) {
                padding: 0 $spacing-half;
                width: 50%;
            }

            @include breakpoint($breakpoint-large) {
                width: unset;
            }
        }

        >.form-item {
            padding: 0;
            float: none;
            margin: 0;
            flex-grow: 1;

            @include breakpoint($breakpoint-medium) {
                width: 50%;
                padding: 0 $spacing-half;
            }
        }
    }
}