.node--view-mode-full {
    .node-tags {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: $spacing-half;

        i {
            margin-right: $spacing;
        }
    }
}