.node--view-mode-teaser {
    .teaser-footer {
        border-top: 1px solid $satin;
        display: flex;
        align-items: baseline;
        padding-top: $spacing;
        margin-top: auto;

        >div {
            margin-bottom: 0;
        }

        >div:first-child {
            margin-left: 0;
        }

        >div:last-child {
            margin-right: 0;
        }
    }
}