$font-size-base: 16px;
$line-height-base: 1.5;
$font-family-base: 'Open Sans',
sans-serif;
$font-family-condensed: 'Open Sans Condensed',
sans-serif;
$font-family-header: 'Amatic SC',
serif;
$font-weight-base: 300;

$margin: 1.125rem;
$spacing: 1rem;
$spacing-half: $spacing / 2;
$spacing-double: 2 * $spacing;

$breakpoint-all : 0;
$breakpoint-small : 540px;
$breakpoint-medium: 768px;
$breakpoint-large : 1024px;
$breakpoint-max: 1280px;

$breakpoint-all-small : $breakpoint-all ($breakpoint-small - 1);
$breakpoint-all-medium : $breakpoint-all ($breakpoint-medium - 1);
$breakpoint-small-medium: $breakpoint-small ($breakpoint-medium - 1);

// Colors in use
$green: rgb(129, 193, 133);
$blue: rgb(17, 165, 183);
$purple: rgb(118, 87, 141);

$black: rgb(0, 0, 0);
$dark: rgb(32, 32, 32);
$dim-grey: rgb(96, 96, 96);
$silver: rgb(202, 203, 203);
$porcelain: rgb(224, 224, 224);
$satin: rgb(240, 240, 240);
$white: rgb(255, 255, 255);