.field--name-comment-user {
    .user--type-user {
        display: flex;
        font-weight: bold;
        color: $blue;
        margin-right: $spacing / 4;

        .field--name-field-firstname {
            margin-right: $spacing / 4;
        }
    }
}