.field--name-field-main-ingredients {
    display: flex;
    flex-wrap: wrap;
    margin: 0 !important;

    .field__item {
        @extend %field-as-tag;
        @extend %tag-list;
        @extend %tag-tag;

        a {
            border: none !important;
        }
    }
}