.node--view-mode-teaser,
.node--view-mode-highlighted {
    .field--name-node-link a {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        text-indent: -9999px;
        border: none !important;
    }
}