.print__wrapper {
    @extend %field-as-tag;
    @extend %tag-list;

    margin-left: auto !important;

    a {
        color: $dark;
        border: none !important;

        &:hover {
            color: $blue;
        }
    }
}