.field--name-field-comments {
    border-top: 1px solid $satin;
    border-bottom: 1px solid $satin;
    margin-top: $spacing;
    padding: $spacing 0;

    @include breakpoint($breakpoint-medium) {
        margin: $spacing-double 0;
    }

    h2 {
        text-align: center;
    }

    .comment-header {
        display: flex;
        font-family: $font-family-condensed;
        font-size: 1rem;
        border-bottom: 1px dotted $satin;
        padding-bottom: $spacing-half;
        margin-bottom: $spacing-half;
    }

    .comment--type-default .field--name-comment-body {
        padding: $spacing 0 0;
    }

    .comment--type-default .field--name-comment-title {
        font-family: $font-family-header;
        font-size: 1.75rem;
        font-weight: bold;
        color: $blue;
    }

    .indented {
        padding-left: $spacing;

        @include breakpoint($breakpoint-medium) {
            padding-left: $spacing-double;
        }
    }

    .links.inline {
        padding: $spacing 0;
        list-style: none;
        border-bottom: 1px solid $satin;

        display: flex;
        margin: 0 (-$spacing / 4) $margin;

        li {
            padding: 0 $spacing / 4;

            &:first-child {
                margin-left: auto;
            }

            a {
                @extend %field-as-tag;
                color: $dark;

                &:hover {
                    color: $blue;
                }
            }
        }
    }
}