%field-as-tag {
    border-radius: 4px;
    padding: $spacing / 4 $spacing-half;
    border: 1px solid $porcelain;
    font-family: $font-family-condensed;
    font-size: 1rem;
    font-weight: bold;
}

%tag-list {
    margin: 0 $spacing / 4;
    margin-bottom: $spacing-half;
}

%tag-tag {
    border: 1px solid #666;
    background: #ccc;
    transition: all 0.333s ease-in-out;
    cursor: pointer;

    &:hover {
        background: #666;
    }

    a {
        color: $dark;

        &:hover {
            color: $black;
        }
    }
}