.field--name-field-required-skill {
    @extend %field-as-tag;
    @extend %tag-list;

    a {
        color: $dark;
        border: none !important;

        &:hover {
            color: $blue;
        }
    }
}