.field--name-field-video.field-video-with-icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    img {
        max-width: 100%;
        transition: all 0.5s ease-in-out;
        transform: scale(1.17825);
    }

    svg {
        color: rgba($white, 0.8);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        transition: all 0.333s ease-in-out;
        text-shadow: 0 0 2px rgba($black, 0.4);
    }
}

.node--type-video:hover .field--name-field-video.field-video-with-icon i {
    color: rgba($purple, 0.8);
}

.node--type-video:hover .field--name-field-video.field-video-with-icon img {
    transform: scale(1.27825);
}