.addtoany-wrapper {
    .addtoany-buttons {
        margin: 0 (-$spacing / 4) $margin;
        padding: 0;
        list-style: none;
        display: flex;

        li {
            margin: 0 $spacing / 4;
            padding: 0;

            &:first-child {
                margin-left: auto;
            }

            a {
                border-radius: 50%;
                color: $dark;
                display: block;
                overflow: hidden;
                padding: $spacing / 4;
                border: 1px solid $porcelain;

                &:hover {
                    border: 1px solid $blue;
                }

                svg {
                    fill: $dark;
                    transition: all 0.333s ease-in-out;

                    &:hover {
                        path {
                            fill: $blue;
                        }
                    }
                }

                span {
                    display: block;
                }
            }
        }
    }
}