.field--name-field-recipe-type {
    display: flex;
    flex-wrap: wrap;

    .field__item {
        @extend %field-as-tag;
        @extend %tag-list;
        @extend %tag-tag;

        a {
            border: none !important;
        }
    }
}