.view-carousel .view-content {
    position: relative;

    .slick-dots {
        position: absolute;
        bottom: $spacing;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;

        button {
            background: transparent;
            padding: 0;
            margin: 0;
            height: $spacing * 1.5;
            width: $spacing * 1.5;
            border: 2px solid $white;
            text-indent: -9999px;
            border-radius: 50%;
            margin: 0 ($spacing / 4);

            &:hover,
            &:focus {
                background: rgba($white, 0.8);
            }
        }

        li.slick-active {
            button {
                background-color: $white;
            }
        }
    }
}