.view-highlighted-videos {
    max-width: $breakpoint-max;
    margin: 0 auto;

    .view-content {
        .views-row {
            margin-bottom: $spacing;

            &:last-child {
                margin-bottom: 0;
            }
        }

        @include breakpoint($breakpoint-medium) {
            display: flex;
            flex-wrap: wrap;
            margin: 0 (-$spacing-half);
            height: 100%;

            .views-row {
                padding: 0 $spacing-half;
                width: 33.333%;
                position: relative;
            }
        }

        @include breakpoint($breakpoint-large) {
            margin: 0;
        }
    }
}

.view-highlighted-videos.view-display-id-block_first {
    margin: 0 0 $spacing;
    height: 100%;

    @include breakpoint($breakpoint-large) {
        margin-bottom: 0;
    }

    .view-content {
        margin: 0;
        height: 100%;
        display: flex;

        .views-row {
            width: 100%;
            padding: 0;
            height: 100%;
            display: flex;
        }
    }
}

.view-highlighted-videos {

    @include breakpoint($breakpoint-large) {
        display: flex;
    }

    .view-header {
        @include breakpoint($breakpoint-large) {
            width: 70%;
            padding-right: $spacing;
        }

        .view-content {
            width: 100%;

            .views-row {
                width: 100%;
            }
        }
    }

    .view-content {
        @include breakpoint($breakpoint-large) {
            width: 30%;
            flex-wrap: wrap;
            flex-direction: column;
            margin: 0;

            .views-row {
                width: 100%;
                height: 33.333%;
                padding: 0;
                margin: 0 0 $spacing;
            }
        }
    }
}