.view {
    .more-link {
        text-align: center;
        padding: $spacing 0 0;

        a {
            @extend %button-base;
            display: inline-block;
        }
    }
}

%view-page-responsive-columns {
    @include breakpoint($breakpoint-medium) {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -$spacing-half;

        .views-row {
            width: 50%;
            padding: 0 $spacing-half $spacing;
            display: flex;
        }
    }

    @include breakpoint($breakpoint-large) {
        .views-row {
            width: 33.333%;
        }
    }

    @include breakpoint($breakpoint-max) {
        .views-row {
            width: 25%;
        }
    }
}

// Change the functionality of the wrapper to give this behaviour.
%view-teasers-infinite-scroll {
    max-width: $breakpoint-max;
    margin: 0 auto;

    .view-content {
        margin: 0;
        display: block;
    }

    .views-infinite-scroll-content-wrapper {
        @extend %view-page-responsive-columns;
    }
}

%view-teasers {
    max-width: $breakpoint-max;
    margin: 0 auto;

    .view-content {
        @extend %view-page-responsive-columns;
    }
}